<!DOCTYPE html>
<html lang="pt-br">
  <head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trabalho LP</title>
  </head>
  <body>
  <h3></he><a href="/cadastrarLivro" class="btn btn-primary">Cadastrar</a></h3>
  <table class="container">
    	<th>Código do Livro</th>
    	<th>Nome do Livro</th>
    	<th>Preço do Livro</th>
    	
	    <div th:each="livro : ${livro}">
	    	<div class="row">
	    		<tr>
	    			<td><p><span th:text="${livro.codigo}"></span></td>
	    			<td><span th:text="${livro.nome}"></span></td>
	    			<td><span th:text="${livro.preco}"></span></td>
	    		</tr>
	    	</div>
	    </div>
	    
    </table>
    

    <br><br>
    <form method="GET" action="atualizarLivro">
    	<h2>Caso deseje editar algum registro, digite o código do mesmo abaixo: </h2>
    	<input type="text" name="codigo">
    	<button type="submit">Editar</button>
    </form>
    
    <br><br>
    <form method="GET" action="deletarLivro">
    	<h2>Caso deseje excluir algum registro, digite o código do mesmo abaixo: </h2>
    	<input type="text" name="codigo">
    	<button type="submit">Excluir</button>
    </form>


	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>