<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Trabalho LP</title>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="post">
    	
    	Nome atual do livro: <span th:text="${livro.nome}"></span>
    	<br>
    	Novo nome do livro:
    	<input type="text" name="nome" value="">
    	<br><br>
    	
    	Preço atual do livro: <span th:text="${livro.preco}"></span>
    	<br>
    	Novo preço do livro:
    	<input type="text" name="preco" value="">
    	<br><br>
    	
    	<button type="submit">Atualizar</button>
    </form>
  </body>
</html>