<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trabalho LP</title>
  </head>
  <body>
  	<h1>Tabelas: </h1>
  	<br><br>
  	<a href="/listarCliente"><h2>Cliente</h2></a>
    <br><br>
    <a href="/listarFuncionario"><h2>Funcionário</h2></a>
    <br><br>
    <a href="/listarLivro"><h2>Livro</h2></a>
  </body>
</html>