<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Trabalho LP</title>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="post">
    	Código do cliente:
    	<input type="text">
    	<br><br>
    	
    	Nome do cliente:
    	<input type="text">
    	<br><br>
    	
    	Data de nascimento do cliente:
    	<input type="text">
    	<br><br>
    	
    	Renda média do cliente:
    	<input type="text">
    	<br><br>
    	
    	<button type="submit">Salvar</button>
    </form>
  </body>
</html>