<!DOCTYPE html>
<html lang="pt-br">
  <head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trabalho LP</title>
  </head>
  <body>
    <form method="post">
    	
    	Nome do cliente:
    	<input type="text" name="nome">
    	<br><br>
    	
    	Data de nascimento do cliente:
    	<input type="text" name="dataNasc">
    	<br><br>
    	
    	Renda média do cliente:
    	<input type="text" name="rendaMedia">
    	<br><br>
    	
    	<button type="submit" class="waves-effect waves-light btn">Salvar</button>
    </form>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>