<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Trabalho LP</title>
    <meta charset="utf-8">
    <style>
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <table class="table">
    	<th>Código do Cliente</th>
    	<th>Nome do Cliente</th>
    	<th>Data de Nascimento do Cliente</th>
    	<th>Renda Média do Cliente</th>
    	<div th:each="cliente : ${cliente}">
	    	<div class="row">
	    		<tr>
	    			<td><span th:text=${cliente.cod_cliente}></span></td>
		    		<td><span th:text=${cliente.nome_cliente}></span></td>
		    		<td><span th:text=${cliente.dt_nasc_cliente}></span></td>
		    		<td><span th:text=${cliente.renda_media}></span></td>
	    		</tr>
	    	</div>
    	</div>
    </table>
    
    <a href="/cadastrarCliente" class="btn btn-primary">Cadastrar</a>
    
    <br><br>
    <form method="GET" action="atualizarCliente">
    	<h2>Caso deseje editar algum registro, digite o código do mesmo abaixo: </h2>
    	<input type="text" name="cod_cliente">
    	<button type="submit">Editar</button>
    </form>
    
    <br><br>
    <form method="GET" action="deletarCliente">
    	<h2>Caso deseje excluir algum registro, digite o código do mesmo abaixo: </h2>
    	<input type="text" name="cod_cliente">
    	<button type="submit">Excluir</button>
    </form>
    
  </body>
</html>