<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Trabalho LP</title>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="post">
    	
    	Nome atual: <span th:text="${cliente.nome}"></span>
    	<br>
    	Novo nome do cliente:
    	<input type="text" name="nome" value="">
    	<br><br>
    	
    	Data de nascimento atual: <span th:text="${cliente.dataNasc}"></span>
    	<br>
    	Nova data de nascimento do cliente:
    	<input type="date" name="dataNasc" value="">
    	<br><br>
    	
    	Renda média atual: <span th:text="${cliente.rendaMedia}"></span>
    	<br>
    	Nova renda média do cliente:
    	<input type="text" name="rendaMedia" value="">
    	<br><br>
    	
    	<button type="submit">Atualizar</button>
    </form>
  </body>
</html>